.partner {
  background-image: url(../images/partner-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  max-width: 1440px;
  margin: 0 auto;
}