$primaryCl: black;
$secondaryCl: white;
$hoverCl: #FF7400;
$titleCl:#D67E35;
@mixin btn() {
    background: $hoverCl;
    color: $secondaryCl;
    padding: 8px 15px;
    border:2px solid $hoverCl;
    font-weight: 600;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    transition: 0.4s;
    &:hover{
        background: $secondaryCl;
        color: $hoverCl;
    }
}
